# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Convert unixtime-convert'
      'command': 'unixtime-convert:convert'
    },
    {
      'label': 'Convert unixtime-convert (flat)'
      'command': 'unixtime-convert:convert-flat'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'unixtime-convert'
      'submenu': [
        {
          'label': 'Convert'
          'command': 'unixtime-convert:convert'
        },
        {
          'label': 'Convert flat'
          'command': 'unixtime-convert:convert-flat'
        }
      ]
    ]
  }
]
